.logo-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 10px;
  display: block;
  width: 150px;
}
.nav-links {
    margin-right: 5%;
}

.nav-links ul {
  list-style: none;
  margin: auto;
  
}
.nav-links ul li {
  display: inline-block;
  margin-left: 40px;
}
.nav-links ul li a {
    text-decoration: none;
    color: black;
}
.nav-links ul li a.active {
  text-decoration: underline;
}
@media (max-width: 768px) {
.logo {
  height: 60px;
  width: auto;
}

}