.banner {
  position: relative;
  margin: 20px;
}
.background-title {
  position: absolute; /* Position absolue pour placer le texte au centre */
top: 50%;
  margin-top: 0; 
 left: 50%; /* Positionner le texte à 50% de la gauche du conteneur */
  transform: translate(
    -50%,
    -50%
  ); /* Déplacer le texte de moitié de sa propre largeur et hauteur pour le centrer */
  color: white;
}
.background {
  border-radius: 20px;
}
