.slideshow-imgcontainer {
  position: relative;
    height: 415px;
    width: 100%;
   }
   .Slideshow_imgSlide {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
   }
  .slideshow-container img {
    height: 30%;
  }
  .arrows {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 3; /*les flèches sont affichées au-dessus des images */
  }
  .arrow-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .arrow-button-left, .arrow-button-right {
    height: 40px;
    margin-bottom: 180px;
  }
  .arrow-button-left {
    position: absolute;
    margin-left: 20px;
  }
  .arrow-button-right {
    position: absolute;
    margin-right: 3px;
  }
  .Slideshow_numbers {
    bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 50%;
  } 
  .slideshow-Slidecontainer {
    position: relative;
  }
  @media (max-width: 768px) {

    .Slideshow_numbers {
      display: none;
    }
    
  }
  @media (max-width: 1024px) {
  
  }